[Unit]
Description=Cruxis Daemon

[Service]
Type=dbus
BusName=org.zelos.cruxis.daemon
ExecStart=/usr/bin/cruxis-daemon
ExecStop=/bin/kill $MAINPID ; /bin/rm /run/cruxis-daemon.pid

[Install]
WantedBy=multi-user.target
