[Unit]
Description=Cruxis Auto-connect
Requires=cruxis-daemon.service
After=cruxis-daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/cruxis auto_connect

[Install]
WantedBy=multi-user.target
